@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  color: #333;
  height: auto;
}

  body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.navbar {
  padding: 10px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  width: 100vw;
  margin: auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #1f6479;
}

.navbar h1 {
  color: rgb(255, 255, 255);
  font-weight: 300;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  display: flex;
  text-decoration: none;
  padding: 6px;
  color: rgb(255, 255, 255);
  font-weight: 300;
}

.navbar a:hover {
  color: blue;
}

.content {
  width: 100%;
  margin: 40px auto;
  padding-top: 15%;
}

.new-item {
  display: flex;
  justify-content: center;
  margin: 14px auto 12px;
}

input {
  display: flex;
  justify-content: space-between;
  margin: 4px auto;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(131, 131, 170, 0.4);
  max-width: 8rem;
}

input:focus, textarea:focus {
  outline: none;
  border: 2px solid #1f6479;
  box-shadow: 0 0 10px #719ECE;
}

button {
  display: flex;
  justify-content: space-between;
  margin: 4px auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(131, 131, 170, 0.4);
  max-width: 8rem;
}

.items-list h3{
  margin: 6px auto;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.items-list p{
  margin: 6px auto;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2rem;
  display: flex;
  flex-direction: row;
}
.items-preview{
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.8rem;
  /* display: flex; */
  /* flex-direction: row; */
  margin-left: 2.6rem;
  justify-content: center;
}