@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background-color: #f7f7f7;
  background-image: url("./001.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: luminosity;
  height: 100vh;
  width: 100vw;
}

.navbar {
  padding: 10px;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  background-color: #1f6479;
  z-index: 500;
}

.navbar h1 {
  color: rgb(255, 255, 255);
  font-weight: 300;
  flex-direction: column;
}

.links {
  margin-right: 1rem;
  margin-left: auto;
}

.navbar a {
  display: flex;
  flex-direction: column;
  text-align: right;
  text-decoration: none;
  padding: 6px;
  color: rgb(255, 255, 255);
  font-weight: 300;
}

.navbar a:hover {
  font-weight: bold;
  transform: translateY(-4px);
}

.new-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 6rem auto 1rem;
  max-width: 80%;
  z-index: 200;
}


input, select, button {
  flex: 1 1 33%;
  flex-wrap: wrap;
  padding: 6px;
  margin: 4px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px rgba(131, 131, 170, 0.4);
  font-size: 14px;
  text-transform: uppercase;
  width: 100%;
  height: 2rem;
}

input:focus, textarea:focus {
  outline: none;
  border: 2px solid #1f6479;
  box-shadow: 0 0 10px #719ECE;
}

button {
  text-align: center;
  justify-content: center;
  padding: 8px;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 0;
  opacity: 0.95;
  color: #1f6479;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px rgba(131, 131, 170, 0.4);
  max-width: 8rem;
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
}
button:focus, select:focus {
  outline: none;  
}

.items-list{
  background-color: #ccc;
  display: flex;
  opacity: 0.95;
  padding: 8px;
  border-radius: 2px;
  justify-content: space-between;
  align-items: center;
  margin: 12px auto;
  width: 70%;
}

.items-list h4, span {
  color: rgba(0, 52, 95, 0.9);
  padding: 0.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.items-list span{
  background-color: rgb(219, 219, 217);
  border: 1px solid #dedede;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px rgba(131, 131, 170, 0.4);
}

.items-list, .btn-group > * {
  flex: 1 1 10em;
  flex-wrap: wrap;
}

.btn-group {
  display: flex;
}

.delete-btn {
  color: whitesmoke;
  background-color: salmon;
  font-size: 0.9rem;
  width: 2.5rem;
  justify-content: center;
  align-items: center;
}

.edit-btn {
  color: whitesmoke;
  background-color: rgb(53, 204, 53);
  font-size: 0.9rem;
  width: 2.5rem;
  justify-content: center;
  align-items: center;
}

.lowstock {
  background-color: #ccc;
  color: #1f6479;
  display: flex;
  opacity: 0.9;
  padding: 8px;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  margin: 8rem auto;
  max-width: 80%;
}